.when-not-editing
  .actions
    a.edit(href='#') Edit
    a.delete(href='#') Delete

  if nDocuments !== null
    a.object.count(href="#")= nDocuments.toLocaleString()
  else
    .object.count.spinner
      .bounce1
      .bounce2
      .bounce3

  .name
    h5
      a.object(href='#')= name

  .query
    span.title Query:
    span.query= query

.when-editing
  form.form-horizontal(action='#', method='post', role='form')
    fieldset
      legend.col-sm-offset-2.col-sm-10
        h5 Edit search
      .form-group.form-group-sm
        label.col-sm-2.control-label(for='search-#{id}-name') Name
        .col-sm-10
          input.form-control(id='search-#{id}-name', name='name', value=name, required=true)
      .form-group.form-group-sm
        label.col-sm-2.control-label(for="search-#{id}-query") Query
        .col-sm-10
          input.form-control(id='search-#{id}-query', name='query', value=query, placeholder='query terms', required=true)
          p.help-block e.g., <tt>criminal OR justice</tt>; <a target="_blank" href="http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax">more query syntax</a> (opens in new tab)
      .form-group.form-group-sm
        .col-sm-offset-2.col-sm-10.btn-group
          button.btn.btn-primary(type='submit') Save
          button.btn.btn-default(type='reset') Cancel
