.when-not-editing
  .query
    h5
      a.object(href='#')= query

  if nDocuments !== null
    .count.object(href="#")= nDocuments.toLocaleString()
  else if error !== null
    .count.error Search error
  else
    .count.object.spinner
      .bounce1
      .bounce2
      .bounce3

.when-editing
  form(action='#', method='post', role='form')
    .input-group.input-group-sm
      input.form-control(id='search-#{id}-query', name='query', value=query, placeholder='Person, place, thing or action', required=true)
      span.input-group-btn
        button.btn.btn-primary(type='submit')
          i.fa.fa-search
          | Search
      span.input-group-btn
        button.btn.btn-default(type='reset')
          | Cancel

.actions
  a.toggle-filter(href='#')
    if typeof(filterPosition) === 'undefined' || filterPosition === null
      i.fa.fa-filter
      | Set as filter
    else
      i.fa.fa-filter
      | Remove this filter
  a.edit(href='#')
    i.fa.fa-edit
    | Edit
  a.delete(href='#')
    i.fa.fa-trash
    | Delete
